.login-card {
  width: 300px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.login-title {
  font-size: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  margin-bottom: 15px;
}

button[type="submit"] {
  align-self: flex-end;
}

.btnsubmit{
 
  width: 100%;
}